@model UniOdonto.Models.Filters.ModelFilter
@{
    var formId = Model.FormId ?? "search_form";
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = formId, data_prefix = "", data_grid = Model.GridId ?? "GridMain", @class = string.Format("clearfix {0}", Model.Class), role = "form" }))
{
    <div class="row">
        <div class="form-group col-md-12 btn-filter hide">
            <div class='pull-right'>
                <br>
                <button class="btn btn-danger btnClearFilter" type="reset">Limpiar</button>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </div>
}

<script language="javascript">

    $(function () {
        var model = {};
        @if (Model.FieldFilters != null)
        {
            foreach (var item in Model.FieldFilters)
            {
                var enumValue = (int) item.Type;
                <text>
        model = {
            type: @enumValue,
            description: '@item.Description',
            name: '@item.Name',
            url: '@item.UrlData',
            defaultValue: '@item.DefaultValue',
            placeholder: '@item.Placeholder',
            Url: '@item.Url',
            Modelo: '@item.Modelo'
        }
        addFilter('@formId', model);

        </text>

            }
        }

    });
    $(".btnClearFilter").click(function () {
        $('input[type="hidden"]').val('');
    });
</script>