@model UniOdonto.Models.ArchivosAdjuntosViewModel
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading row">
            @ViewBag.Title. @Html.ActionLink("(Inicio)", "Index", "Home", null, new { @class = "regresar" })
            <div style="display:inline-block; position:relative; float:right">
               &nbsp;
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12 col-sm-12 row">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.PersonasId)
                    <div class="col-md-7">
                        <div data-bind="visible: consultasDto().length == 0">
                            <div class="alert alert-primary" role="alert">
                                <i class="fa fa-file"></i>  No Existen Imágenes/PDFs..
                            </div>
                        </div>
                        <table data-bind="visible: consultasDto().length > 0" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:auto;text-align:center;">Fecha</th>
                                    <th style="text-align:center;">Descripción</th>
                                    <th style="width:auto;text-align:center;">Archivos</th>
                                </tr>
                            </thead>
                            <tbody data-bind="template: {name: 'uploadTemplate', foreach: consultasDto}"></tbody>
                            <script id="uploadTemplate" type="text/html">
                                <tr>
                                    <td style="text-align:center;"><span data-bind="text: moment(Fecha(),'DD/MM/YYYY').format('DD/MM/YYYY')"></span></td>
                                    <td>
                                        <a data-bind="text: Descripcion" title="Editar"></a>
                                    </td>
                                    <td class="text-center">
                                        <a href="" title="Ver estos archivos" class="btn btn-default btn-xs btn-wm-table" data-bind="click: $root.Ver" target="_blank"> <span class="badge bg-primary float-right" data-bind="text: ArchivosAdjuntosDet().length"></span></a>
                                    </td>
                                </tr>
                            </script>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <div id="dropzone">
                            <form action="/upload" class="outline-files dropzone needsclick" data-bind="Dropzone: { Files: Files, Upload: FileUploadUrl, Remove: FileRemoveUrl }">
                                <div class="dz-message needsclick">
                                    Arrastra o da un click aqui para subir archivos (Imágenes/PDFs..).
                                </div>
                            </form>
                        </div>
                        <div class="row col-md-12">
                            <label class="control-label col-md-12">Descripción:</label>
                            <div class="col-md-12">
                                <textarea onkeyup="textAreaAdjust(this)" id="DetalleFilesEndocare" style="overflow:hidden; height:auto; min-width:100% !important" data-bind="text: vmf.Descripcion, value: vmf.Descripcion" class="form-control"></textarea>
                                <br />
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <button type="button" id="btnGuardar" class="btn btn-primary btn-xs btn-wm-table pull-right" data-bind="click: Guardar"><i class="fa fa-save"></i>  Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Pages/Documentos/ArchivosAdjuntos.js"></script>